
body {
  background-image: url("https://imgs.search.brave.com/jT3nWW-ItxqAiPy9gStUDxMJmeqYlJLlWBP7ApC4Jk4/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5nZXR0eWltYWdl/cy5jb20vaWQvODgw/OTQ2NTE4L3Bob3Rv/L2Nsb3Vkcy1pbi1i/bHVlLXNreS5qcGc_/cz02MTJ4NjEyJnc9/MCZrPTIwJmM9ZENI/bU12S3RVczlLOURY/WldvWjltVktvTnVL/aG1WeE9XeWxvUmpk/ZXZtMD0");
  /* styles.css */
  border: 2px solid navy
}
  h1   {
    text-align: center;
    color:darkblue;
    font-family:verdana;
    font-size:200%;
}
  h2   {
    text-align: center;
    color:darkslateblue;
    font-family:verdana;
    font-size:120%;
}
  h3   {
    text-align: center;
    font-family:Times;
    font-size:120%;
}
  h4   {
    font-family:arial;
    font-size:100%;
    color:dimgrey;
}
h5    {
    text-align: center;
    font-family:Times;
    font-size:120%;
}
